                body {
                background: #28305a;
                height: 100vh;
                margin: 0 20px;
            }
            
            .title {
                color: white;
                font-family: "Crimson Text", serif;
                line-height: 84px;
                margin-top: 60px;
                text-align: center;
            }
            
            .body {
                color: white;
                font-family: "Work Sans", sans-serif;
                font-size: 20px;
                justify-content: center;
                line-height: 28px;
                margin: 30px auto;
                max-width: 600px;
                text-align: center;
            }
            
            .title img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            
            .title hover img {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);